---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['info']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section
  class="relative bg-accent-4 flex justify-center min-h-[645px] sm:min-h-[450px] items-start w-full overflow-hidden"
>
  <div class="w-full absolute top-0 left-0 z-10">
    <div class="shrink-0 overflow-hidden relative h-[175px]">
      <img
        src="/header-2.webp"
        alt="Header de Los Amecas"
        height="97"
        width="1509"
        class="absolute inset-0 w-full h-full object-cover object-bottom"
      />
    </div>
  </div>
  <div
    class="w-full max-w-screen xl:w-[1211px] px-6 xl:pl-0 h-full pt-[156px] flex flex-col justify-center items-center gap-[25px] z-20 pb-8" data-aos="flip-up" data-aos-offset="200"
  >
    <p class="text-[24px] uppercase leading-[110%] font-normal text-white">
      INFO
    </p>
    <h1
      set:html={content.title}
      class="text-[56px] md:text-[64px] font-bold leading-[70px] md:leading-[100px] uppercase text-white text-center"
    />
    <Button
      text={content.button}
      extraBtnClass="bg-accent-3 px-6"
      textClass="text-[16px] uppercase text-white"
      iconClass=" text-white"
    />
  </div>
</section>
