@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1..1000&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Sofia Sans','Apple Color Emoji', sans-serif;
}

@theme {
  --font-family: 'Sofia Sans', 'Apple Color Emoji',sans-serif;
  --color-primary: #e5dabd;
  --color-back: #E5DABD;
  --color-text: #2f281c;
  --color-accent-1: #F4AA02;
  --color-accent-2: #8BCE2B;
  --color-accent-3: #E6007E;
  --color-accent-4: #47A9FE;
  --color-accent-5: #A22887;
  --color-paragraph: #6A6A6A;
  --breakpoint-xs: 25rem;
  --breakpoint-3xl: 106rem;
}


.slider {
  --animation-duration: 30s;
  --height: 91px;
  --gap: 40px; /* Reducido para mejor ajuste */
  width: 100%;
  height: var(--height);
  position: relative;
  mask-image: none;
}

.slider .list {
  display: flex;
  width: max-content;
  align-items: center;
  gap: var(--gap);
  animation: autoRun var(--animation-duration) linear infinite;
}

.slider .list .item {
  width: var(--item-width);
  height: var(--height);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--gap);
}

/* Animación corregida para loop perfecto */
@keyframes autoRun {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--item-width) + var(--gap)) * -5));
  }
}

.slider:hover .list {
  animation-play-state: paused;
}

.slider:hover .item {
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
  animation-play-state: running;
}

.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", system-ui, sans-serif;
  /* line-height y display ayudan a que quede alineado */
  line-height: 1;
  display: inline-block;
}