---
import { Icon } from 'astro-icon/components';
---
<div class="slider-container w-full bg-accent-3 overflow-hidden">
  <div class="slider flex items-center" style="--item-width: 300px; --height: 91px; --quantity: 5;">
    <div class="list flex items-center">
      {/* Duplicamos los elementos + 2 extra para efecto continuo */}
      {Array.from({ length: 12 }, (_, index) => (
        <div 
          class="item flex items-center justify-center gap-[74px] whitespace-nowrap" 
          style={`--position: ${index % 5};`}
        >
          <p class="text-[24px] font-normal leading-[200%] uppercase text-white">Love for tacos</p>
          <Icon name={'star'} class={'w-6 h-6 text-white shrink-0'} />
        </div>
      ))}
    </div>
  </div>
</div>
