---
import CarouselMainGallery from '../../components/CarouselMainGallery.astro';


type Translations = typeof import('../../i18n/es').default;
type GalleryContent = Translations['main']['gallery'];
interface Props {
  content: GalleryContent;
}
const { content } = Astro.props as Props;
---

<section
  class="bg-white flex justify-center items-center relative w-full overflow-y-hidden pt-[50px] md:pt-[60px]"
  data-aos="fade-left" data-aos-offset="200"
>
  <div
    class="bg-primary w-full max-w-screen xl:w-[1211px] pt-0 md:pt-[37px] pb-10 px-6 xl:px-0 flex flex-col justify-center items-start gap-10 z-10"
  >
    <h2 class="text-[36px] leading-[120%] font-normal text-start">
      {content.title}
    </h2>
    <CarouselMainGallery galleryItems={content.items} />
  </div>
  <svg
    viewBox="0 0 1512 1019"
    preserveAspectRatio="xMidYMax slice"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-auto absolute top-0 left-0"
  >
    <g filter="url(#filter0_d_76_474)">
      <path
        d="M1.45287 1011H1513V36.6671L1475.5 7.68054L1423 36.6671L1367.5 7.68054L1312 36.6671L1259.5 7.68054L1203.5 36.6671L1152 10.7317L1097 36.6671L1045.5 7.68054L1006 27.132L970 7.68054L917.5 36.6671L861.5 7.68054L809 36.6671L756 7.68054L703 36.6671L650 10.7317L593 38.5742L542 10.7317L501 30.1833L464.5 13.0201L411.5 38.5742L358 10.7317L306 38.5742L249.5 10.7317L196 39.7184L142 13.0201L88.5 43.1509L36 16.4528L1 36.6671L1.45287 1011Z"
        fill="#E5DABD"
        shape-rendering="crispEdges"></path>
      <path
        d="M37.1947 17.5793C37.6046 17.5716 49.7518 24.2612 64.1785 32.4552C78.6052 40.6492 90.7525 47.3464 91.1724 47.3464C91.5923 47.3464 103.739 40.4965 144.42 16.892L170.414 31.577C184.711 39.6565 196.968 46.5064 197.658 46.8042C198.428 47.1402 209.045 41.5045 225.402 32.0734C241.808 22.6194 252.376 17.0065 253.145 17.3425C253.835 17.648 266.062 24.498 306.263 47.2548L332.817 31.9894C347.424 23.5969 359.821 16.8614 360.371 17.037C360.921 17.205 373.068 23.971 387.365 32.0657C411.009 45.4525 413.539 46.6897 415.358 45.7886C416.458 45.2464 428.155 38.6179 441.352 31.073C454.549 23.5205 465.797 17.0752 466.347 16.7545C466.906 16.4338 475.554 20.8324 504.338 37.1669L540.83 16.0367L552.077 22.314C558.266 25.7657 570.453 32.6231 595.007 46.5292L621.661 31.1875C644.246 18.1825 648.575 15.9831 650.055 16.7086C651.014 17.1821 663.052 23.9253 676.798 31.6916C690.545 39.4656 702.353 45.6893 703.042 45.5213C703.732 45.3609 715.99 38.5185 756.28 15.4257L809.768 45.8191L863.756 15.273L885.37 27.5404C896.941 34.1107 908.815 40.8529 917.244 45.6511L943.238 30.7675C957.534 22.5812 969.792 15.7466 970.481 15.5786C971.171 15.4105 979.599 19.7404 989.227 25.2005C998.845 30.6606 1007.28 35.3112 1007.97 35.5327C1008.66 35.7541 1017.09 31.4548 1026.72 25.9718C1036.34 20.4888 1044.55 16.0061 1044.96 16.0214C1045.37 16.0291 1057.07 22.4514 1070.96 30.2941C1084.85 38.1291 1096.76 44.8341 1097.45 45.1854C1098.28 45.6054 1106.59 41.3365 1122.45 32.3254C1135.5 24.9103 1147.54 18.0375 1152.19 15.2884L1206.18 45.7274L1209.18 43.994C1210.83 43.0395 1222.86 36.1818 1235.92 28.7668C1250.52 20.4735 1260.15 15.4792 1260.91 15.8152C1261.6 16.1131 1273.63 22.8255 1287.66 30.7369C1301.69 38.6484 1313.71 44.9332 1314.4 44.7041C1315.09 44.475 1327.24 37.6404 1367.14 14.7156L1393.88 29.8893C1410.17 39.1219 1421.12 44.8493 1421.88 44.5286C1422.57 44.2307 1434.72 37.3579 1474.62 14.5095L1512.61 35.8916L1512.11 21.0309L1501.11 14.7308C1495.06 11.2715 1486.62 6.53685 1474.62 -7.74857e-07L1450.87 13.4938C1437.81 20.9088 1425.78 27.774 1421.13 30.5079L1367.14 0.0611564L1364.14 1.80994C1362.49 2.77214 1350.45 9.63731 1337.4 17.0524C1322.87 25.3074 1313.16 30.3398 1312.4 30.0115C1311.71 29.7136 1299.69 22.9936 1285.66 15.0745C1271.63 7.15546 1259.61 0.862937 1258.92 1.09967C1258.23 1.3364 1246.08 8.17876 1206.18 31.1036L1179.43 15.9298C1163.15 6.69727 1152.2 0.969853 1151.44 1.29059C1150.75 1.58841 1138.6 8.46131 1098.7 31.3098L1044.71 0.763732L1008.72 21.3822L1005.47 19.6869C1003.68 18.7476 995.366 14.1123 986.978 9.37762C978.05 4.32989 971.111 0.923987 970.231 1.14545C969.402 1.35927 958.044 7.65183 944.987 15.1432C931.93 22.6347 920.283 29.2478 919.103 29.8434C917.104 30.8667 915.394 30.0345 890.36 15.8458C874.163 6.66674 863.266 0.969853 862.506 1.29059C861.816 1.58841 849.669 8.46131 809.768 31.3098L755.78 0.763732L729.286 16.0367C714.71 24.4369 702.563 31.3098 702.293 31.3098C702.023 31.3098 690.205 24.7347 676.049 16.7011C661.892 8.67513 649.745 1.9703 649.055 1.80994C648.365 1.65721 636.108 8.23211 621.811 16.4185C607.514 24.6124 595.367 31.3098 594.817 31.3098C594.267 31.3098 583.36 25.3761 570.573 18.1215C557.786 10.8591 545.868 4.16194 540.83 1.52734L523.224 11.6456C513.536 17.2126 505.438 22.0238 505.228 22.3369C505.008 22.6499 496.85 18.3963 487.092 12.8827C477.334 7.36155 468.896 2.55826 468.346 2.19171C467.736 1.79461 456.829 7.53726 440.602 16.808C425.896 25.2005 413.299 31.9053 412.609 31.6992C411.919 31.5006 399.712 24.7118 359.611 1.90918L333.247 16.9913C314.631 27.6442 306.373 31.9435 305.133 31.6151C304.174 31.3707 292.366 24.9103 278.889 17.2585C265.413 9.61439 253.835 3.11575 253.145 2.82556C252.385 2.49719 241.468 8.23986 198.408 32.7989L195.908 31.3632C194.529 30.5766 182.501 23.7113 144.92 2.29089L118.926 17.1822C104.629 25.3762 92.3721 32.2414 91.6823 32.4476C90.9924 32.6538 78.5053 26.0863 63.9386 17.8542C43.7432 6.4376 37.0547 3.03169 35.825 3.5357C34.9352 3.90226 26.7471 8.49182 1.06297 23.2914L1.00298 30.3552C0.972984 34.2422 1.17294 37.4189 1.45287 37.4189C1.72281 37.4189 9.71099 32.9592 19.1988 27.5068C28.6866 22.0543 36.7848 17.5869 37.1947 17.5793Z"
        fill="#8BCE2B"
        shape-rendering="crispEdges"></path>
      <path
        d="M82.9853 9.20239C83.0053 10.5922 83.995 12.2723 85.4347 13.4025C86.9443 14.5785 88.9739 15.2735 90.8835 15.2735C92.803 15.2735 94.8625 14.5632 96.4322 13.3643C97.9918 12.173 98.9316 10.5923 98.9316 9.16424C98.9316 7.75913 97.9818 6.1325 96.4822 4.96411C94.9225 3.75754 92.903 3.05505 90.9834 3.05505C89.0639 3.05505 87.0043 3.76518 85.4347 4.96411C83.8251 6.19359 82.9553 7.70563 82.9853 9.20239Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M190.421 8.95801C190.421 10.9664 191.131 12.1119 193.23 13.4636C194.77 14.4563 197.129 15.2735 198.469 15.2735C199.809 15.2735 202.008 14.502 203.358 13.5551C204.697 12.6082 205.877 11.1497 205.967 10.3097C206.057 9.46967 206.087 8.17903 206.027 7.44592C205.957 6.71282 205.007 5.42229 203.908 4.58227C202.638 3.61244 200.538 3.04744 198.159 3.03216C195.59 3.01689 193.78 3.52087 192.41 4.6358C191.191 5.63618 190.411 7.31616 190.421 8.95801Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M297.876 8.97333C297.886 10.4319 298.716 12.089 299.886 12.9825C301.219 14.0007 303.218 14.5098 305.884 14.5098C309.084 14.5098 310.293 14.0898 311.913 12.4098C313.033 11.2567 313.932 9.70643 313.912 8.97333C313.902 8.24022 313.323 6.77394 312.633 5.71246C311.943 4.65862 310.253 3.43693 308.884 3.00165C307.424 2.54346 305.174 2.46701 303.485 2.82593C301.885 3.16193 299.966 4.12409 299.226 4.96411C298.476 5.80413 297.876 7.60639 297.876 8.97333Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M405.362 8.40057C405.362 10.8366 405.921 11.9363 407.731 13.0513C409.041 13.8531 411.51 14.5022 413.23 14.4946C415.099 14.4869 417.279 13.792 418.639 12.7763C420.218 11.5926 420.898 10.2028 420.888 8.20965C420.868 5.98743 420.248 5.00234 418.109 3.79578C416.599 2.94049 414.23 2.23786 412.86 2.23022C411.48 2.23022 409.231 2.89468 407.861 3.71942C405.901 4.88781 405.362 5.90343 405.362 8.40057Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M588.15 11.6232C588.84 12.3486 590.509 13.2727 591.859 13.6698C593.219 14.0745 595.218 14.2272 596.318 14.0134C597.418 13.7996 599.327 12.7915 600.567 11.7759C601.807 10.7602 602.816 9.07257 602.816 8.01874C602.816 6.97253 602.427 5.5063 601.947 4.77319C601.467 4.04009 599.557 2.96336 597.698 2.39062C594.838 1.50479 593.878 1.50479 591.439 2.39062C589.849 2.96336 588.17 4.04009 587.69 4.77319C587.21 5.5063 586.83 7.05654 586.85 8.20965C586.87 9.36277 587.45 10.9053 588.15 11.6232Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M694.296 9.16424C694.565 10.4243 695.805 11.9744 697.045 12.6083C698.285 13.2421 700.644 13.7462 702.294 13.7385C704.013 13.7233 706.263 12.9901 707.573 12.0126C709.102 10.8595 709.832 9.44681 709.792 7.63696C709.772 5.93402 708.942 4.33032 707.522 3.22302C706.253 2.23791 704.113 1.49712 702.544 1.50476C701.034 1.52003 699.054 1.78737 698.155 2.10046C697.255 2.41356 695.905 3.62008 695.155 4.77319C694.405 5.92631 694.026 7.90422 694.296 9.16424Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M801.821 7.29321C801.848 9.09543 802.664 10.6229 804.27 11.8752C805.59 12.9062 807.6 13.7462 808.719 13.7462C809.849 13.7462 811.889 13.3185 813.268 12.7916C814.638 12.2646 816.208 11.0657 816.768 10.1188C817.317 9.17185 817.787 7.79731 817.797 7.06421C817.817 6.3311 816.918 4.78086 815.798 3.62775C814.178 1.94771 812.968 1.52765 809.769 1.52765C807.103 1.52765 805.104 2.03685 803.771 3.05505C802.501 4.02489 801.791 5.56736 801.821 7.29321Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M1090.72 7.48419C1090.76 9.05731 1091.69 10.6992 1093.2 11.8752C1094.71 13.0513 1096.74 13.7462 1098.65 13.7462C1100.57 13.7462 1102.63 13.036 1104.2 11.837C1105.62 10.7527 1106.71 9.01905 1106.73 7.82776C1106.75 6.67464 1105.85 4.78086 1104.73 3.62775C1103.14 1.97826 1101.89 1.52776 1098.95 1.54303C1096.45 1.55321 1094.44 2.12593 1092.92 3.26123C1091.42 4.3838 1090.67 5.81943 1090.72 7.48419Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M1199.27 10.5541C1200.16 11.5315 1201.85 12.6236 1203.03 12.9901C1204.21 13.349 1205.52 13.6697 1205.93 13.7003C1206.34 13.7232 1207.92 13.2803 1209.43 12.7075C1210.94 12.1348 1212.52 11.1039 1212.93 10.4166C1213.34 9.72934 1213.7 8.21732 1213.72 7.06421C1213.75 5.91109 1212.96 4.19284 1211.97 3.24591C1210.99 2.30662 1208.72 1.35963 1206.93 1.14581C1204.28 0.832714 1203.13 1.18411 1200.68 3.05505C1199.03 4.31508 1197.68 6.11728 1197.67 7.06421C1197.67 8.01114 1198.39 9.5766 1199.27 10.5541Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M908.647 7.5376C908.587 8.31652 909.516 9.86676 910.706 10.9741C912.346 12.4861 913.775 12.9749 916.565 12.9672C919.004 12.9596 921.014 12.3792 922.523 11.249C923.903 10.2181 924.783 8.64497 924.773 7.25513C924.763 5.9951 924.153 4.27684 923.403 3.43683C922.663 2.59681 920.744 1.63465 919.144 1.29864C917.455 0.939728 915.205 1.01599 913.745 1.47418C912.376 1.90946 910.686 3.13134 909.996 4.18518C909.306 5.24665 908.697 6.75104 908.647 7.5376Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M1305.47 6.63653C1305.33 8.70603 1305.9 9.9126 1307.64 11.2184C1309.07 12.2876 1311.2 12.9825 1313.07 12.9901C1314.76 12.9901 1317.16 12.4785 1318.4 11.8447C1319.64 11.2108 1320.87 9.6606 1321.15 8.40057C1321.43 7.14055 1321.04 5.1627 1320.29 4.00958C1319.54 2.85647 1318.19 1.64995 1317.29 1.33685C1316.39 1.02376 1314.64 0.748785 1313.4 0.741149C1312.16 0.725875 1309.91 1.4132 1308.41 2.26849C1306.37 3.41397 1305.61 4.55177 1305.47 6.63653Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
      <path
        d="M1412.64 7.10229C1412.68 8.27068 1413.8 10.0806 1415.13 11.1116C1416.64 12.2876 1418.67 12.9825 1420.58 12.9825C1422.5 12.9825 1424.56 12.2722 1426.13 11.0733C1427.55 9.98892 1428.64 8.2555 1428.66 7.06421C1428.68 5.91109 1427.78 4.01725 1426.66 2.86413C1425.04 1.1841 1423.83 0.764098 1420.63 0.764098C1417.43 0.764098 1416.22 1.1841 1414.6 2.86413C1413.48 4.01725 1412.6 5.92627 1412.64 7.10229Z"
        fill="#F4AA02"
        fill-opacity="0.99"
        shape-rendering="crispEdges"></path>
    </g>
  </svg>
</section>
