---
import CarouselHero from '../../components/CarouselHero.astro';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['main']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
const images = ['circle-1', 'circle-2', 'circle-3'];
---

<section
  class="bg-[#E5DECC] w-full h-auto flex items-center justify-center overflow-y-hidden relative z-10"
>
  <img
    src="/header.webp"
    alt="Header de Los Amecas"
    height="97"
    width="1509"
    class="absolute w-screen h-auto top-0 right-0 z-10"
  />
  <div
    class="w-full h-full "
  >
    <CarouselHero items={content.slides} />
  </div>

  <div
    class="w-full max-w-screen md:w-[1211px] px-6 xl:px-0  justify-center sm:justify-end items-center absolute bottom-0 hidden"
  >
    <div
      class="flex justify-center items-center gap-4 md:gap-[29px] translate-y-1/2"
    >
      {
        images.map((item) => (
          <img
            src={`/${item}.webp`}
            alt="Imagen de los platos de los Amecas"
            width="275"
            height="261"
            class="w-[100px] md:w-[137px] h-auto"
          />
        ))
      }
    </div>
  </div>
</section>
