---
import CarouselHero from '../../components/CarouselHero.astro';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['main']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section
  class="bg-[#E5DECC] w-full h-auto flex items-center justify-center overflow-y-hidden relative z-10"
>
  <img
    src="/header.webp"
    alt="Header de Los Amecas"
    height="97"
    width="1509"
    class="absolute w-screen h-auto top-0 right-0 z-10"
  />
  <div class="w-full h-full">
    <CarouselHero items={content.slides} />
  </div>
</section>
